<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=DevDatabase;User ID=devUser;Password=devPass"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="Environment" value="Debug" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableDebugging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes" />
    
    <customErrors mode="Off" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>