<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="XXXX" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="XXXX" />
    <add key="EnableDebugging" value="false" />
    <add key="X1" value="false" />
    <add key="X2" value="false" />
    <add key="X3" value="false" />
    <add key="X4" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <customErrors mode="RemoteOnly" />
  </system.web>
</configuration>